.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #1f5e3b;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 25px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ffd166;
}

.login-btn {
  width: 60px;
  height: 25px;
  background: #ffd166;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-weight: ;
}

.menu-icon {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: #1f5e3b;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px 0;
  }

  .nav-links.active {
    display: flex;
  }

  .login-btn {
    display: block;
    width: 80px;
  }
}